RetailStoreManagement_API/RetailStoreManagement.Tests/obj/
RetailStoreManagement_API/RetailStoreManagement/obj/
RetailStoreManagement_API/.vs/
RetailStoreManagement_API/RetailStoreManagement.Tests/bin/
RetailStoreManagement_API/RetailStoreManagement/bin/
